body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f5f5f5; /* Hintergrundfarbe */
    color: #1a1818; /* Standard-Schriftfarbe */
}

label, select {
    margin-bottom: 10px;
    font-size: 1em;
}

#horoskop-container {
    max-width: 500px;
    margin: auto;
    background-color: #fff; /* Hintergrundfarbe */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.8em;
    color: #db1f7d; /* Schriftfarbe */
}

select {
    font-size: 1em;
    padding: 5px;
    background-color: #ff69b4; /* Hintergrundfarbe */
    color: #fff; /* Schriftfarbe */
    border: none;
    border-radius: 5px;
}

#horoskop-output {
    margin-top: 20px;
}

.horoskop-entry {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff; /* Hintergrundfarbe */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.horoskop-entry h2 {
    margin-bottom: 5px;
    color: #ff69b4; /* Schriftfarbe */
}

.horoskop-entry p {
    margin: 0;
}

#sternzeichen-titel {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #ff69b4; /* Schriftfarbe */
}

.gluecksfarbe-anzeige {
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
    color: #ff69b4; /* Farbe für den "Glücksfarbe:"-Text */
}

.gluecksfarbe-anzeige::before {
    content: "Glücksfarbe: ";
}

/* Darkmode */
body.dark-mode {
    background-color: #555; /* Hintergrundfarbe im Dark Mode */
    color: #ffffff; /* Schriftfarbe im Dark Mode */
}

.dark-mode select {
    background-color: #555; /* Hintergrundfarbe im Dark Mode */
    color: #ffffff; /* Schriftfarbe im Dark Mode */
}

.dark-mode .horoskop-entry {
    border-color: #555; /* Farbe der Umrandung im Dark Mode */
}

.dark-mode .gluecksfarbe {
    border-color: #555; /* Farbe der Umrandung im Dark Mode */
}

.dark-mode .gluecksfarbe-anzeige {
    color: #ff69b4; /* Farbe für den "Glücksfarbe:"-Text im Dark Mode */
}

/* Für das Horoskopfeld im Darkmode */
#horoscope {
    background-color: #333; /* Hintergrundfarbe für den Darkmode */
    color: #fff; /* Schriftfarbe für den Darkmode */
}

/* Für den Footer im Darkmode */
footer {
    background-color: #333; /* Hintergrundfarbe für den Darkmode */
    color: #fff; /* Schriftfarbe für den Darkmode */
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Macht den Titel klickbar und ändert den Mauszeiger zu einer Hand */
.collapsible h2 {
    cursor: pointer;
}

/* Versteckt den Inhalt, wenn das Element als "collapsed" markiert ist */
.collapsible div.collapsed {
    display: none;
}

/* Stil für den aufgeklappten Zustand */
#impressum:not(.collapsed) {
    border-top: 10px solid #ccc;
    padding: 5px 0;
}

.collapsible {
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: #454545; /* Hintergrundfarbe */
}

.collapsible h2 {
    cursor: pointer;
    padding: 10px 20;
    margin: 0;
    background-color: #5b5b5b; /* Hintergrundfarbe */
    border-bottom: 1px solid #ccc;
}

.collapsible div.collapsed {
    display: none;
}

#cookie-content {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#accept-cookies {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

#cookie-emoji, #crown-emoji {
    font-size: 24px;
    margin: 0 10px;
}

#cookie-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#dark-mode-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

#moon-emoji, #sun-emoji {
    font-size: 24px;
    margin: 0 5px;
}

#dark-mode-checkbox {
    display: none;
}

#dark-mode-toggle label {
    cursor: pointer;
}

/* ... (vorheriger Code bleibt unverändert) ... */

#horoskop-container {
    max-width: 500px;
    margin: auto;
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#sternzeichen-titel {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #db1f7d;
}

#horoskop-output {
    margin-top: 20px;
    text-align: left; /* Text linksbündig ausrichten */
}

.horoskop-entry {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #8f3939;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.horoskop-entry h2 {
    margin-bottom: 5px;
    color: #ff69b4;
}

.horoskop-entry p {
    margin: 0;
}

/* Für das Horoskopfeld im Darkmode */
body.dark-mode #horoskop-container {
    background-color: #5d5858; /* Hintergrundfarbe im Dark Mode */
    color: #fff; /* Schriftfarbe im Dark Mode */
}

.dark-mode #horoskop-output {
    background-color: #5d5858; /* Hintergrundfarbe im Dark Mode für Output */
    color: #fff; /* Schriftfarbe im Dark Mode für Output */
}

.gluecksfarbe-anzeige {
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
}

.gluecksfarbe-anzeige::before {
    content: "Glücksfarbe: ";
}

.gluecksfarbe {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  #darkModeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .moon-emoji {
    font-size: 20px;
  }
  
  .sun-emoji {
    font-size: 25px;
    margin-left: 5px;
  }

  #monatshoroskop-container {
    max-width: 500px;
    margin: auto;
    background-color: #fff; /* Hintergrundfarbe */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#monatshoroskop-output {
    margin-top: 20px;
}

.monatshoroskop-entry {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff; /* Hintergrundfarbe */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.monatshoroskop-entry h2 {
    margin-bottom: 5px;
    color: #ff69b4; /* Schriftfarbe */
}

.monatshoroskop-entry p {
    margin: 0;
}
